*{
margin: 0px;
padding: 0px;
text-align: center;
align-items: center;
}
header{
  font: bold 36px/120% Arial, Helvetica, sans-serif;
  background: #333;
  color: #c0c0c0;
  text-transform: uppercase;
}
